main {
  position: relative;
  isolation: isolate;
}

main::after {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;

  background-image: url("./assets/website-background.png");
  background-size: auto 95dvh;
  background-position-x: 72px;
  background-position-y: 4dvh;
  background-repeat: no-repeat;
}

main::before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;

  background-image: url("./assets/website-background-2.png");
  -webkit-background-size: auto 100vh;
  -moz-background-size: auto 100vh;
  -o-background-size: auto 100vh;
  background-size: auto 100vh;
  background-repeat: no-repeat;
}
