@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-tl-corner {
    content: "";
    clip-path: polygon(0% 25%, 25% 25%, 25% 0%, 0% 0%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 2px;
  }
  .clip-br-corner {
    content: "";
    clip-path: polygon(75% 75%, 75% 100%, 100% 100%, 100% 75%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 2px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(39 39 42) rgb(82 82 91);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(39 39 42);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(82 82 91);
  border-radius: 20px;
  border: 3px solid rgb(39 39 42);
}

.slick-active button:before {
  color: rgb(45, 212, 191) !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  font-size: small;
  color: rgb(113, 113, 122);
  opacity: 1 !important;
}

.slick-dots {
  bottom: -50px;
}
